<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.sudoku" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Sudoku</name>
    <description>
        Un petit jeu simple et indépendant.
    </description>
    <author email="nicolas.leignel@gmail.com" href="http://cordova.io">
        Nicolas
    </author>
    <content src="home.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="default" />
</widget>
