/*<style>*/
body {
	margin:0px;
}

/*Grid*/
.square-box {
    position:relative;
    width:70%;
    margin:0 auto;
    overflow:hidden;
}
.square-box:before {
    content:"";
    display:block;
    padding-top:100%;
}
.square-content {
	position: absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
}
#grid, table.root-table {
	width:100%;
	height:100%;
}
table.root-table {
	background-color:#E9E9E9;
	border-radius:.3125em;
}
.box {
	width:100%;
	height:100%;
}
td {
	padding:0px;
}
.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset {
	border:none;
	box-shadow:none;
	border-radius:0px;
	margin:0px;
	height:100%;
}
input#c11, input#c12, input#c13, input#c14, input#c15, input#c16, input#c17, input#c18, input#c19,
input#c21, input#c22, input#c23, input#c24, input#c25, input#c26, input#c27, input#c28, input#c29,
input#c31, input#c32, input#c33, input#c34, input#c35, input#c36, input#c37, input#c38, input#c39,
input#c41, input#c42, input#c43, input#c44, input#c45, input#c46, input#c47, input#c48, input#c49,
input#c51, input#c52, input#c53, input#c54, input#c55, input#c56, input#c57, input#c58, input#c59,
input#c61, input#c62, input#c63, input#c64, input#c65, input#c66, input#c67, input#c68, input#c69,
input#c71, input#c72, input#c73, input#c74, input#c75, input#c76, input#c77, input#c78, input#c79,
input#c81, input#c82, input#c83, input#c84, input#c85, input#c86, input#c87, input#c88, input#c89,
input#c91, input#c92, input#c93, input#c94, input#c95, input#c96, input#c97, input#c98, input#c99 {
	text-align:center;
	text-shadow:none;
	font-weight:bold;
	min-height:0px;
	height:100%;
	padding:0px;
	font-size:16px;
	font-size:4vw;
}

/*Popup*/
#popupMenu-popup {
	width:60%;
}
#popupMenu {
	max-width:300px;
	margin:0 auto;
	border:none;
}

.possibilities-entry {
	font-size:12px !important;
}
.spacer {
	width:15px;
}
div#pen-picks input {
	width:30px;
}
#selected-pen-number {
	font-weight:bold;
}
#control-area label {
	padding-right:10px;
	font-weight:bold;
}

/*The Input fields after the pen is picked.*/
.pen-picked {
	cursor: pointer;
	cursor: hand;
}
/*
.pen-picked:hover {
	background:#FFCCCC;
}
*/
#pen-tool {
	text-align:center;
}
#pen-tool input {
	border:1px solid #ccc;
}

/*The Cells that has error*/
.problem-cell {
	color:#f00;
}

#timer {
	display:block;
	position:relative;
	text-align:center;
	font-family:Arial,Helvetica,sans-serif;
	font-size:45px;
	font-size:11vw;
	margin:15px 0px;
}
#pause-hider {
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	background-color: rgba(240, 240, 240, 0.5);
	border-radius:.3125em;
}
.print-only {
	display:none;
}
